### Markdown Basics

* **Bold**
* *Itallic*
* ***IB***
* Normal Text
  * Sublist1
  * Sublist2
  
I get 10 times more traffic from [Google][] than from
[Yahoo][] or [MSN][].

  [google]: http://google.com/        "Google"
  [yahoo]:  http://search.yahoo.com/  "Yahoo Search"
  [msn]:    http://search.msn.com/    "MSN Search" 
  
  
  
  
 `printf("hello Markdown")` 
 
 markdown@google.com
  
  
  
  
> 1. Ordered list 1
> 2. Ordered list 2

- [ ]Option 1
- [ ]Option 2
- [ ]Option 3

[jupyter](jupyter.png)

<img src="jupyter.png" style="float:left">

In [3]:
# python Comments

print("gd afternoon !","Hi",end="||") #Basic comment
print("Hello")

gd afternoon ! Hi||Hello

###  Assignment

In [11]:
n1=1234  #Single Variable Assignment

n2 = n3 = n4 = n1  #Multi Variable Assignment

a,b,c = 123,234,345 #Multi Variable Assignment with different values

print(a,b,c)

123 234 345

### Arithmatic Operations
- +
- -
- *
- /
- %
- **

In [30]:
n1 % 11

n3 = n2 ** 123456

type(n3)
len(str(n3)) 

atoms = 10 ** 82
atoms
type(str(atoms))

str

### Conditionals

In [44]:
if atoms < 10 ** 79:
    print("TRUE")
else:
    print("FALSE")

FALSE

### Data Types and Type Conversions

- int
- string
- float

In [38]:

type(a)
s1 = "python"
type(s1)

f1 = 12.345
type(f1)

float(str(int(f1)))

12.0

In [1]:
# check even or odd

n=123
if n%2==0:
    print("even")
else:
    print("odd")

odd

### Conditionals

In [1]:
#check the greatest number
n1=int(input("enter the n1 value"))
n2=int(input("enter the n2 value"))
n3=int(input("enter the n3 value"))
if n1 > n2 and n1 > n3:
    print(n1,"is the greatest")
elif n2 > n3:
    print(n2,"is the greatest")
else:
    print(n3,"is the greatest")

enter the n1 value12
enter the n2 value23
enter the n3 value34
34 is the greatest

In [5]:
# given year is leap year or not
n=int(input("enter n value:"))
if n % 400 == 0 or (n %4 == 0 and n % 100 != 0):
    print("it is a leap year")
else:
    print("not leap year")

enter n value:2000
it is a leap year

In [8]:
#check if a number is a multiple of 10
n=int(input("enter n value:"))
if n % 10 == 0:
    print(n,"multiple of 10")
else:
    print(n,"not multiple of 10")

enter n value:23
23 not multiple of 10

In [1]:
#check if a number is a factor of 1000
n=int(input("enter n value:"))
if n % 1000==0:
    print("it is a factor of 1000")
else:
    print("it is not a factor of 1000")

enter n value:2000
it is a factor of 1000

In [9]:
#calculate the square root of a number without functions
n=12
n**0.5

3.4641016151377544

In [ ]:
#cal nano sec
year=2016
if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0):
    print(366*24)

In [1]:
#calculate the number of digits in a number
n=int(input("Enter number:"))
count=0
while(n>0):
    count=count+1
    n=n//10
print("The number of digits in the number are:",count)

Enter number:12
The number of digits in the number are: 2