# Day Objectives
## Introduction To Jupyter Notebook
**BOLD**

*ITALIAN*

*TEXT*
<img src="http://localhost:8890/files/Desktop/problemsolving%20and%20programing%20phase%201/883px-Jupyter_logo.svg.png">
1.ordered list 1

2.ordered list 2

3.ordered list 3

## python basics

In [1]:
'''ggkh
vgvjh
hgg'''# Using for mult-line comments
#->is for single line comment

'ggkh\nvgvjh\nhgg'

In [2]:
## variable assaignment
n=54
n

54

In [3]:
n1=n
n

54

In [4]:
n1=n2=n3=n
n1

54

In [5]:
n = 12
print(n)
n1 = 10
n1

12

10

# basic arthematic operations

In [6]:
c="name"#string should be either in single quote
c

'name'

In [7]:
#type() is used to check datatype
a=15
type(a)

int

In [8]:
type(c)

str

In [9]:
#type conversation:converting one datatype in to another
x=10
print(x)
type(x)
y=str(x)
print(type(y))
print(float(x))

10
<class 'str'>
10.0

In [10]:
##basic arithematic operation
##ADD
a=10
b=20
print(a+b)
##subtract
k=-2
j=-4
print(k-j)
## multiplication
c=((a+b)*(k-j))

##division
print(c/2)# single module division gives float value 
print(c//2)# double modular gives integer value 
## modulus
print(c%2)

30
2
30.0
30
0

In [11]:
print(10 + 20)
print(10-20)
print(100000123*1234568764)

30
-10
123457028251957972

In [12]:
a="k"
type(a)

str

In [13]:
int(str(a))
type(a)

ValueError: invalid literal for int() with base 10: 'k'

In [ ]:
## indentation in python plays a crucial role
##nothing but space or tab
##conditional statement : to chech whether the condition true or false
###if,else,if-else,nestedif,nested else
##write a program to know hoe to use if condition

In [ ]:
n=23
if(n%2==0):
    print("n is even number")
else:
    print("n is not an even")

In [ ]:
a=int(input())
b=int(input())
if a > b:
    print("a is the biggest number")
else:
    print("b is the biggest number ")

string slicing

In [ ]:
s="python"
s

In [ ]:
len(s)# len()is the methon to know the length

In [ ]:
s[5]

In [ ]:
s1="python program"
len(s1)

In [ ]:
s1[0]

In [ ]:
s1[-1]

In [ ]:
s1[10]

In [ ]:
k="spyder"
print(len(k))
print(k[len(k)-1])

In [ ]:
s="python program a very efficient language"
print(s[len(s)-1])
print(s[0:6])

In [ ]:
print(s[-9:-1])

In [ ]:
print(s[1::2])

In [ ]:
print(s[::-1])

In [ ]:
print(s[::-2])

In [ ]:
print(s[::-3])

In [ ]:
dir(str)

In [ ]:
a="python welcome"
print(a)
a=a.capitalize()
print(a)
print(a.title())
print(a.upper())
print(a)
print(a.lower())

In [ ]:
b="abc"
b.islower()

In [ ]:
b="123"
b.isalpha()

In [ ]:
b="4030"
b.isnumeric()

In [ ]:
b="34278"
b.isdigit()

In [ ]:
a=input()
if a==a[::-1]:
    print("palandrome")
else:
    print("not a palandrome")

In [ ]:
a="    bharath  "
a.strip()

In [ ]:
a="www"
a.count('w')

In [ ]:
s1=input()
s2=input()

if (s1==s2):
   print("true")
else:
    print("false")

In [ ]:
##functions
# functions in python defined by a keyword"def"
## write a program for finding leap year
def isleapyear(year):
    if(year%400==0)or(year%4==0 and year%100!=0):
       print("year is a leap year")
    else:
        print("year is not a leap year")
isleapyear(2000)

In [ ]:
## number divisible by 10 but not by 4
#o/p:50
lower=int(input("Enter lower range limit:"))
upper=int(input("Enter upper range limit:"))
n=int(input("Enter the number to be divided by:"))
for i in range(lower,upper+1):
    if(i%n==0):
        print(i)

In [ ]:
def greatest(num1,num2,num3):
    if (num1 >= num2) and (num1 >= num3):
          print("largest = num1")
    elif (num2 >= num1) and (num2 >= num3):
           print("largest = num2")
    else:
         print("largest = num3")
greatest(23,45,67)

In [ ]:
## inititalization
##while(condition)
## increment

In [ ]:
## for (initalization,condition,increment):

In [ ]:
def naturalnumbers(n):
    for i in  range(1,n+1,1):
        print(i)
naturalnumbers(10)

In [ ]:
def oddnumber(n):
    for i in range(1,n+1,6):
        print(i)
oddnumber(40)

In [ ]:
def even(n):
    for i in range(1,n+1):
        if i%2==0:
            print(i)
even(20)

In [ ]:

def print_factors(x):
   print("The factors of",x,"are:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)
num = 320
print_factors(num)

In [ ]:
def factorial(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    print(f)
factorial(6)

In [ ]:
a= "sai bharath"

In [ ]:
a.split()

In [ ]:
a=input()
a.count()

In [ ]:
l=[1,2,34,4,5]
s=0
for i in l:
    s=s+i
print(s)

In [ ]:
a=1

In [ ]:
print(a)

In [ ]:
a=2.8
abs(a)
round(a)
b=[1,2,3]
len(b)
sum(b)
chr(97)
ord('A')
bin(4)
hex(20)
sorted(b,reverse=True)
max(b)
min(b)

In [ ]:
l[0]=99

In [ ]:
print(l)

In [ ]:
b=[1,2,9,55,5,3]
print(b[1::2])

In [ ]:
l=[1,2,445,34,22,]
l=[]
l.append(10)
print(l)

In [ ]:
l.append([1,2])
l

In [ ]:
l.extend([1,2])
l

In [ ]:
name=[]
age=[]
name.extend(['pspk','pavan','kalyan'])
for i in name:
    print(name)
name

In [ ]:
l=[1,2]
b=l
print(b)
l[0]=100
print(l)
print(b)

In [ ]:
t=(1,2,3)
t[0:]
sum(t)
len(t)
t.count(5)

#  dictionaries

In [ ]:
d={"name":"sai","roll":"566","age":20}
d.values()
d.keys()
d.items()

In [ ]:
d["name"]="bharath"
d

In [ ]:
d.get("gender")

In [ ]:
l=[1,2]
a=[5,5]
x=dict(zip(a,l))
x

In [ ]:
##check whether the given number is n range or not
#lb=lowerbound
#ub=upperbound
#lb=30,ub=50

In [ ]:

a=30
lb=30
ub=60
a=int(input('enter a value'))
b=range(30,60)
if a in b:
     print('a in range')
    else:
        print('a is not in range')

In [ ]:
def test_range(n):
    if n in range(3,9):
        print( " %s is in the range"%str(n))
    else :
         print("The number is outside the given range.")
test_range(5)

In [ ]:
l=[1,2]
a=[5,5]
x=dict[]

In [ ]:
##calculate

In [ ]:
def count(n):
    count=0
    while(n>0):
        n=n//10
        count+=1
        print( count )
count(56565)

In [ ]:
#print the leap year with in the given range
#lowerbound=1990
#upperbound=2020

In [ ]:
for z in range(1990,2020):
        if(z%4==0):
            print(z)

In [ ]:
def leap_year(y):
    if y % 400 == 0:
        return True
    if y % 100 == 0:
        return False
    if y % 4 == 0:
        return True
    else:
        return False
print(leap_year(1900))
print(leap_year(2004))

In [ ]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
             if(n % x==0):
                return False
        return True             
print(test_prime(9))

In [ ]:
def test_prime(n):
    if(n==1):
        return False
    elif(n==2):
        return True
    else:
        for x in range(2,n):
            if(n%x==0):
                return False
        return True             
print(test_prime(9))

In [ ]:
a=str(input('enter a string'))
b=int(input('enter a number'))

In [ ]:

n = int(input("Enter any number: "))
sum1 = 0
for i in range(1, n):
    if(n % i == 0):
        sum1 = sum1 + i
if (sum1 == n):
    print("The number is a Perfect number!")
else:
    print("The number is not a Perfect number!")

In [ ]:
for Number in range (1, 1000):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

In [ ]:
def isPerfect( n ):
    sum = 1
    i = 2
    while i * i <= n:
        if n % i == 0:
             sum = sum + i + n/i
        i += 1
    return (True if sum == n and n!=1 else False)
 
limit = int(input("Enter a number"))
print("Below are all perfect numbers till 1000")
n = 2
for n in range (limit):
    if isPerfect (n):
        print(n , " is a perfect number")

In [14]:
def check(a,b):
    if(a==10):
        return True
    elif(b==10):
        return True
    elif(a+b==10):
        return True
    else
        return False
check(5,5)

SyntaxError: invalid syntax (<ipython-input-14-862f0b30b5c1>, line 8)

In [2]:
def check(a,b):
    if(a==10 and b==10 and a+b==10):
        return True
    else:
        return False
check(6,9)

False

In [ ]:
def element(n):
    n=[1,2,3,4,5]
    n.sort()
    print(max(n))
    print(min(n))
    print(n)